# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\onedrive文件夹\OneDrive - pku.edu.cn\大学\大二下\计算机科学与编程入门\课堂讲义\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
